#menu div
{
	margin-bottom: 2px;
	vertical-align: middle;
}

#menu div, #menu-tab
{
	cursor: pointer;
}

#menu, #menu-tab
{
	position:fixed;
	top:0;
	padding:5px;
}

#menu
{
	font-size: 12px;
	font-family: "arial";
	padding-bottom:100%;
	padding-right:100px;
	padding-left:10px;
	background-color: #C0C0C0;
	color: #FFFFFF;
	border-right: 1px solid #000000;
	background: url(../images/bg.png);
}

.menu-text
{
	width: 50%;
	float: right;
}

.menu-image
{
	float: left;
}

#settings .menu-image:before
{
	content: url(../images/cog_edit.png);
}

#home .menu-image:before
{
	content: url(../images/house.png);
}

#help .menu-image:before
{
	content: url(../images/help.png);
}

#users .menu-image:before
{
	content: url(../images/users.png);
}